= simple_form_for(resource, as: resource_name, url: user_password_registration_path(resource_name), remote: true, html: {class: 'form-horizontal'}, wrapper: :horizontal_form) do |f|
  = devise_error_messages!
  = f.input :password, autocomplete: "off", hint: 'leave blank if you do not want to change it'
  = f.input :password_confirmation, autocomplete: "off"
  .actions.modal-footer
    = f.submit "Update password", class: 'btn btn-primary pull-right'
