.col-md-8.col-md-offset-2.well#edit-user
  %h2 
    Edit #{current_user.username.humanize}
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'},
    wrapper: :horizontal_form,  wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean}) do |f|
    //-binding.pry
    = devise_error_messages!
    = f.input :username, autofocus: true
    = f.input :email
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    //  %em
    //    (#{@minimum_password_length} characters minimum)
    = f.input :phone
   
    =link_to "Change password", edit_user_password_registration_path, remote: true
    //= f.input :current_password, autocomplete: "off",  hint: 'we need your current password to confirm your changes'
    .actions
      = f.submit "Update", class: 'btn btn-primary pull-right'
  = render "devise/shared/links"

  #user_password_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
