.col-md-6.col-md-offset-3.well#edit-user  
  %h2
    Edit #{resource_name.to_s.humanize}
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal'},
      wrapper: :horizontal_form) do |f|
    = devise_error_messages!
    = f.input :username, autofocus: true
    = f.input :email
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    = f.input :password, autocomplete: "off"
      //%i (leave blank if you do not want to change it)
    = f.input :password_confirmation, autocomplete: "off"
    = f.input :current_password, autocomplete: "off"
      //%i (we need your current password to confirm your changes)
    .actions
      = f.submit "Update", class: 'btn btn-primary'
  

  // %h3 Cancel my account
  // %p
  //  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
  // = link_to "Back", :back
