.col-md-6.col-md-offset-3.well#sign-up  
  %h2 Sign up
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'},
    wrapper: :horizontal_form,  wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean}) do |f|
    //-binding.pry
    = devise_error_messages!
    = f.input :username, autofocus: true
    = f.input :email
    //  %em
    //    (#{@minimum_password_length} characters minimum)
    = f.input :password, autocomplete: "off"
    = f.input :password_confirmation, autocomplete: "off"
    .actions
      = f.submit "Sign up", class: 'btn btn-primary'
  = render "devise/shared/links"
