#dashboard-dropdown.dropdown.pull-left
  -if current_user.sites.count == 1
    = current_user.sites.first.name.titleize
  -else
    %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button", :id=> "site-display" }
      = @display.titleize
      %span.caret
    %ul.dropdown-menu{:role => "menu", :id => "dashboard-site-select"}
      %li
        =link_to "All", '#'  
      - current_user.sites.each do |site|
        %li
          =link_to site.name.titleize, '#' 
        