.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h4#myModalLabel.modal-title= "Adding reminder for #{get_item_object(iut.item_unit.item).name.titleize} unit #{iut.item_unit.name.titleize}"
    =render 'reminders/reminder_form', iut: iut  