%ul.div.list-inline.pull-right.reminder-links{:id => "reminder-nav-#{reminder.id}"}
  %li
    = render 'reminders/state', reminder: reminder
  - if reminder.is_active?
    %li
      = link_to "Done", complete_reminder_history_path( reminder.id), remote: true, method: 'post', id: "reminder-complete"
      %sup
        %i.fa.fa-question.emphasis{"title"=>"click to mark task as complete"}
  %li   
    = link_to "Edit", edit_reminder_path(reminder), remote: true, id: "edit-reminder-link" 