-reminder = iut.reminder
=render 'reminders/reminder_nav', reminder: reminder   
#reminder-display
  %table.reminder-display
    %thead
      %tr
        %th= "Every"
        %th= "Due"
        %th= "Notify"
        %th= "Remind on"
    %tbody
      %tr
        %td= "#{get_frequency_choice reminder.frequency_choice.to_i}"
        %td= "#{reminder.due_date.in_time_zone(reminder.site.time_zone).strftime("%a, %d %b")}"
        %td= reminder.remindees.map{|r| r.name}.join(", ")
        %td= "#{reminder.reminder1.in_time_zone(reminder.site.time_zone).strftime("%a, %d %b %l %p" )}"
#task-description
  =get_task_object(reminder.item_unit_task.task).description          

    