= simple_form_for(@reminder, remote: true, html: {class: "reminder-form form-horizontal"} ) do |f|
  %ul.errors
  .modal-body#reminder_form
    = f.input :frequency, collection: Reminder::FREQUENCY.sort.map {|k,v| [v,k]}, :selected => @reminder.try(:frequency_choice), label: "Frequency", 
      include_blank: false,  :input_html => {:class=> "frequency-select"}
      
    = f.input :due_date, as: :string,  placeholder: "Select due date", :input_html => { :class => 'datepicker', :id => "iut-#{iut.id}", 
       :value => @reminder.try(:due_date).try(:strftime,"%a, %d %b %Y")}, label: "Due Date:", :label_html => {:class => "due-date-label"}       
    
    = f.input :due_date, as: :hidden,    :input_html => { :class => 'due_date_alt'}    #this field sends date to controller
    
    //= f.text_field :due_date,  class: "datepicker" , id: "iu-#{iu.id}-task-#{task.id}", placeholder: "Select due date", as: :date_picker       
    //= f.input :remindees, as: :check_boxes, collection: @site.remindees, :item_wrapper_class => 'inline', label: "Choose recipients"
    //= f.association :remindees, as: :check_boxes, collection: @site.remindees, :input_html => { :id => "iu-#{iu.id}-task-#{task.id}" }
    
    = f.input :remindee_ids, as: :check_boxes, label: "Notify:",  :label_html => {:id => "notification-to"} do
      = f.collection_check_boxes :remindee_ids, @site.remindees, :id, :name do |b|
        = b.check_box(:id => "#{b.object.id}-iut-#{iut.id}" ) + b.label(:for => "#{b.object.id}-iut-#{iut.id}", :class => "reminder-checkbox-label" )
    
    = f.input :reminder1, collection: Reminder::REMIND_BEFORE.sort.map {|k,v| [v,k]}, :selected => @reminder.try(:reminder1_choice), label: "Send reminder", include_blank: false
    
    = f.input_field :item_unit_task_id, as: :hidden, 'value'=> iut.id
    //= f.input_field :task_id, as: :hidden, 'value'=> iut.task_id
  .modal-footer 
    = f.button :submit, value: "Save reminder", class:" btn btn-primary pull-right"  