$("ul.errors").html("")
<% if @reminder.errors.any? %> 
  <% @reminder.errors.full_messages.each do |msg| %>
        $("ul.errors").append($("<li />").html("<%= msg.html_safe %>"))
  <% end %>
<% else %>
  $('#reminder-unit-task-<%= iut.id %>').html("<%= j render 'reminders/reminder', iut: iut %>");
   $("#reminder_modal").modal("hide");
   $('#due-on-accordion-<%= iut.reminder.id %>').html("Due: <%= iut.reminder.due_date.strftime("%a, %-d %b")%>");  
<% end %>    