-if reminder.is_active?
  = link_to "Reminder Active", reminder_state_path(reminder), remote: true, method: "post" , id: "reminder-active", data:{ toggle: "tooltip", title: "Click to make reminder in-active" } 
  %sup
    %i.fa.fa-question.emphasis{"title"=>"Click to make reminder in-active"}
-else
  = link_to "Not Active", reminder_state_path(reminder), remote: true, method: "post" , id: "reminder-inactive"
  %sup
    %i.fa.fa-question.emphasis{"title"=>"Click to make reminder Active"}
