#histories-page.container
  .row
    .col-md-2.col-md-offset-1
      =render "dashboard_sites_dropdown"
    .col-md-8.col-md-offset-1
  .row
    .col-md-10.col-md-offset-1#updates
      .table-responsive
        %table.table.table-fixed#completed-display
          %thead
            %tr
              %th{:class => "col-md-3 text-center"}= "Location"
              %th{:class => "col-md-3 text-center"}= "Unit"
              %th{:class => "col-md-3 text-center"}= "Task"
              %th{:class => "col-md-3 text-center"}= "Due"
              %th{:class => "col-md-3 text-center"}= "Completed"
              %th{:class => "col-md-3 text-center"}= "By"
          %tbody
            - @reminder_histories.each do |rh| 
              %tr{:class=> ("missed" if rh.state == 3)}
                %td= rh.site.name.titleize 
                %td= get_item_object(rh.reminder.item_unit_task.item_unit.item).name + ": " + get_item_unit(rh.reminder).name
                %td= get_task_object(rh.reminder.item_unit_task.task).title
                %td= rh.due_date.in_time_zone(rh.reminder.site.time_zone).strftime("%a, %d %b")
                %td= rh.completion_date.in_time_zone(rh.reminder.site.time_zone).strftime("%a, %d %b") if rh.completion_date
                %td= rh.completed_by.name if rh.completed_by
  .row
    .col-md-10.col-md-offset-1#calendar          