//$('#reminder-unit-task-<%= @item_unit_task.id %>').html("<%= j render 'reminders/reminder_form', iut: @item_unit_task  %>");
$('#reminder_modal').html("<%= j render 'reminders/edit', iut: @item_unit_task  %>");
$('#reminder_modal').modal("show");