$('#reminder-nav-<%= @reminder.id %>').html("<%= j render 'reminders/reminder_nav', reminder: @reminder %>");

<% if @reminder.is_active? %>
$('#due-on-accordion-<%= @reminder.id %>').html("Due: <%= @reminder.due_date.strftime("%a, %-d %b")%>");
<% else %>
$('#due-on-accordion-<%= @reminder.id %>').html("");
<% end %>