=div_for(iu) do
  .well
    .col-md#unit-title
      .col-md-8.col-xs-8.text-left
        =link_to iu.name, item_unit_path(iu)
      .col-md-4.col-xs-4.text-right#item-unit-delete
        = link_to iu, method: :delete, remote: true do
          %i.fa.fa-times   
    .col-md.ul.accordion.list-group{id: "unit-#{iu.id}-tasks"}
      -iu.item.reload
      -iu.tasks.each do |task|
        =render 'item_units/task', iu: iu, task: task

    
#reminder_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
