= simple_form_for(@item_unit, remote: true, html: { class: 'form-horizontal' }) do |f|
  %ul.errors
  .modal-body#item-unit-form
  = f.input :name, autofocus: true, wrapper: :horizontal_form, label: "Name"
  = f.input_field :item_id, as: :hidden, value: "#{@item.id}"
  .modal-footer
    = f.button :submit, value: "Add", class:" btn btn-primary pull-right"
    