.modal-dialog
  .modal-content.clearfix
    .modal-header.clearfix
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h4#myModalLabel.modal-title= "Adding a new unit for #{get_item_object(@item).name.titleize} "
    =render 'item_units/item_unit_form'  
