$("ul.errors").html("")
<% if @item_unit.errors.any? %> 
  <% @item_unit.errors.full_messages.each do |msg| %>
        $("ul.errors").append($("<li />").html("<%= msg.html_safe %>"))
  <% end %>
<% else %>
  $('#item-units').html("<%= j render 'item_units/all_item_units', iu: @item_unit, site: @site, item: @item  %>");
$(".accordion").accordion({
    active: false,
    collapsible: true,
    heightStyle: "content"

  });
$('#new_item_unit_modal').modal("hide");
$('#new-task-link').html("<%= j(link_to "Add a task", new_custom_task_path(site_id: @site.id, item_id: @item.id), remote: true)  %>");

 
<% end %>    