%li.list-group-item
  - iut = get_item_unit_task iu.id, task.id      
  %h4
    =get_task_object(task).title.capitalize
    -if task.taskable_type == "CustomTask"
      =link_to custom_task_path(get_task_object(task), item_unit: iu), class: 'task-delete pull-right', 
      data: {confirm: "Are you sure?"}, method: :delete, remote: true do
        %i.fa.fa-times
    -if iut.reminder && iut.reminder.is_active?
      %span{:style=>"float:right", :id=>"due-on-accordion-#{iut.reminder.id}"}
        ="Due: #{iut.reminder.due_date.in_time_zone(iut.reminder.site.time_zone).strftime("%a, %-d %b")}"     

  .reminder{id: "reminder-unit-task-#{iut.id}"}
    - iut = get_item_unit_task(iu.id, task.id)
    - if iut.reminder
      =render 'reminders/reminder', iut: iut
    - else
      .col-md-8.task-description
        =get_task_object(iut.task).description
      .col-md-4
        = link_to  "Add Reminder", new_reminder_path(iut_id: iut.id), remote: true, class:'btn btn-primary pull-right'
        

