$('#item-units').html("<%= j render 'item_units/all_item_units',  site: @site, item: @item  %>");
<% if @item.item_units.blank? %>
$('#new-task-link').html("");
<% end %>
$(".accordion").accordion({
    active: false,
    collapsible: true,
    heightStyle: "content"

  });