.container#item-units-page

  .col-md-10.col-md-offset-1
    %h4 
      = get_item_object(@item_unit.item).name + ": " + @item_unit.name
    .table-responsive.table-fixed
      %table.table
        %tbody
          %tr
            %td= "Warranty" 
            %td= "Attach document"
          %tr
            %td= "Warranty Expires" 
            %td= "May 23, 2016"
              