.col-md-6.col-md-offset-3.well#change-password 
  %h2 Change your password
  = form_for(resource, as: resource_name, url: password_path(resource_name),  html: { method: :put, class: 'form-horizontal'},
    wrapper: :horizontal_form) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .field
      = f.label :password, "New password"
      %br/
      = f.password_field :password, autofocus: true, autocomplete: "off"
    .field
      = f.label :password_confirmation, "Confirm new password"
      %br/
      = f.password_field :password_confirmation, autocomplete: "off"
    .actions
      = f.submit "Change my password"
  = render "devise/shared/links"
