.col-md-6.col-md-offset-3.well#forgot-password 
  %h2 Forgot your password?
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal'},
    wrapper: :horizontal_form) do |f|
    = devise_error_messages!
    = f.input :email, autofocus: true
    .actions
      = f.submit "Send me reset password instructions"
  = render "devise/shared/links"
