.ul.nav.nav-pills.items-nav.col-md-8.col-md-offset-2#items-nav
  =render 'sites/items/items_nav', items: @items, site: @site
.col-md-8.col-md-offset-2#location-display
  .location
    -if current_user.sites.count ==1
      .text-right#site-display
        = @site.name.titleize
    -else 
      =render 'sites/sites_dropdown'
.col-md-8.col-md-offset-2#item-units
  =render 'item_units/all_item_units', item: @item, site: @site