- modal ||= false
- remote = modal ? true : false
-if @custom_item.errors.any? 
  #error_explanation
    %h2= "#{pluralize(@custom_item.errors.count, "error")}  'prohibited this location from being saved'"
    .ul
      -@custom_item.errors.full_messages.each do |msg|
        .li
          = msg
= simple_form_for(@custom_item, remote: remote,  html: { class: 'form-horizontal' }) do |f|
  = f.input :name, autofocus: true, wrapper: :horizontal_form, label: "Category Name"
  = f.input_field :site_id, as: :hidden, value: "#{@site.id}"
  .modal-footer
    = f.button :submit, value: "Add Category", class:" btn btn-primary" 