%section.site_title.well#splash
  %h1
    Send and track reminders for your business operations.
    = link_to "Sign Up Now!", new_user_registration_path
  %p.sign_up
  %p.sign_in
    Have an account? Please
    = link_to "Sign In", new_user_session_path