#settings-page.container
  .col-md-8.col-md-offset-2#sites
    .row
      .div.pull-left
        - if current_user.sites.count > 0
          %h3 Your Locations
        -else
          %h3 Please create a location
      .div.pull-right
        %h4
          =link_to "Add Location", new_site_path, remote: true
    -current_user.sites.each do |s|
      =render 'sites/my_sites', site: s
  
  
  #new_site_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    

