= simple_form_for(@custom_task, remote: true,  html: { class: 'form-horizontal' }) do |f|
  %ul.errors
  .modal-body#custom-task-form.clearfix
    = f.input :title, autofocus: true, wrapper: :horizontal_form, label: "Task"
    = f.input :description,  wrapper: :horizontal_form, label: "Description"

    .col-md-8.col-md-offset-3
      =f.input :unit, as: :check_boxes, :item_wrapper_class => 'inline', collection: @item.item_units,  label: "*Select units for the task"

    //= f.collection_check_boxes :item_unit_ids, ItemUnit.where(site_id: @site.id, item_id: @item.id ) 
  .modal-footer  
    = f.button :submit, value: "Add Task", class:" btn btn-primary pull-right" 