.modal-dialog
  .modal-content.clearfix
    .modal-header.clearfix
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h4#myModalLabel.modal-title= "Adding task for #{get_item_object(@item).name.titleize} "
    =render 'custom_tasks/custom_task_form'  
