$("ul.errors").html("")
<% if @custom_task.errors.any? %> 
  <% @custom_task.errors.full_messages.each do |msg| %>
        $("ul.errors").append($("<li />").html("<%= msg.html_safe %>"))
  <% end %>
<% else %>
  $("#unit-" + <%= iu_id %> + "-tasks").append("<%= j render 'item_units/task', iu: ItemUnit.find(iu_id), task: @task  %>");
   
<% end %>    