.col-md-6.col-md-offset-3.well#sign-up
  %h2 Log in
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'},
    wrapper: :horizontal_form) do |f|
    = f.input :email, autofocus: true, inline_label: "Email"
    = f.input :password, inline_label: "Password", autocomplete: "off"
    - if devise_mapping.rememberable?
      .field.remember-me
        = f.input :remember_me, as: :boolean
        //= f.label :remember_me
    .actions
      = f.submit "Log in", class: 'btn btn-primary'
  = render "devise/shared/links"
