//.col-md-8.col-md-offset-3
= simple_form_for(@remindee, remote: true,  html: { class: 'form-horizontal' }) do |f|
  %ul.errors
  .modal-body
    -if @remindee.new_record?
      = f.input :remindee_option, collection: current_user.remindees.reload.where.not(id: @site.reload.remindees),
         label: "Select or Add",  include_blank: true,  :input_html => {:id=> "remindee-select", 
         :onChange => "getval(this);"}, wrapper: :horizontal_form
         
    = f.input :name, autofocus: true, wrapper: :horizontal_form, label: "Name"
    = f.input :email,  wrapper: :horizontal_form, label: "Email"
    = f.input :phone,  wrapper: :horizontal_form, label: "Mobile Phone"
    = f.input_field :site_id, as: :hidden, 'value'=> @site.id 
  .modal-footer 
    = f.button :submit, value: "Submit", class:" btn btn-primary" 