%div{class: "remindees", id: "remindees_#{site.id}"}
  ="Notification #{"recipient".pluralize(site.remindees.count)}:"
  - site.remindees.order(name: :asc).each do |r|
    = link_to  "#{r.name}", edit_remindee_path(r, site_id: site.id) , remote: true
