$("ul.errors").html("")
<% if @remindee.errors.any? %> 
  <% @remindee.errors.full_messages.each do |msg| %>
        $("ul.errors").append($("<li />").html("<%= msg.html_safe %>"))
  <% end %>
<% else %>
  $('#remindees_<%= @site.id %>').html("<%= j render 'remindees/remindees', site: @site %>")
  $("#remindee_modal").modal("hide")  
<% end %>    