%li
  =div_for(item) do
    =link_to get_item_object(item).name.titleize , site_item_path(site, item), class:(make_active(site, item))  #make first system item active on reminders page load
    -if item.itemable_type == "CustomItem"
      =link_to custom_item_path(item), class: 'item-delete', data: {confirm: "Are you sure?"}, method: :delete do
        %i.fa.fa-times      