#reminders-page.container
  .ul.nav.nav-pills.items-nav.col-md-8.col-md-offset-2#items-nav
    =render 'sites/items/items_nav', items: @items, site: @site
  .row
    .col-md-8.col-md-offset-2#location-display
      .location
        -if current_user.sites.count ==1
          .text-right#site-display
            = @site.name.titleize
        -else 
          =render 'sites/sites_dropdown'
  .row
    .col-md-8.col-md-offset-2#item-units
      =render 'item_units/all_item_units', item: @item, site: @site
  .row  
    .col-md-8.col-md-offset-2.row#item-units-links
      =link_to "Add new #{get_item_object(@item).name}", new_item_unit_path(item_id: @item.id), remote: true, id: "add-new-unit"
      #new-task-link
        -if !@item.item_units.blank?
          =link_to "Add a task", new_custom_task_path(site_id: @site.id, item_id: @item.id), remote: true

  #new_item_unit_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    

  #new_custom_item_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4#myModalLabel.modal-title= "Add a new category"
        .modal-body
          = render 'custom_items/custom_item_form', modal: true
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close 

  #new_custom_task_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}

