%p= "Hello #{@remindee.name}"
%p= "This is the first notification for this reminder."
%p= "You have been added by #{@remindee.user.email} to receive reminder notifications for the task #{get_task_object(Task.find_by_id(@reminder.item_unit_task.task_id)).title}" 
%p= "for #{get_item_object(get_item_unit(@reminder).item).name} unit called #{get_item_unit(@reminder).name}"
%p= "Unit: #{@reminder.item}"
%p= "Unit name: #{@reminder.item_unit}"
%p= "Task: #{@reminder.task}"
%p= "Description: #{@reminder.description}"
%p You can click this link to confirm the completion of the task 
= link_to "Task Completed", confirm_reminder_history_url(@reminder.reminder_histories.last.token, remindee_id: @remindee.id)