%p= "Hello #{@remindee.name}"
%p= "This is a reminder for the task #{get_task_object(Task.find_by_id(@reminder.item_unit_task.task_id)).title}" 
%p= "for #{get_item_object(get_item_unit(@reminder).item).name} unit called #{get_item_unit(@reminder).name}"
%p= "The due date is #{@reminder.due_date.strftime("%a, %d %b")}"
%p You can click this link to confirm the completion of the task 
= link_to "Task Completed", confirm_reminder_history_url(@reminder.reminder_histories.last.token, remindee_id: @remindee.id)