// Place all the styles related to the custom_tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
#custom-task-form-page {
  background: $white;
}

#custom-task-form{
  margin-top: 10px;
}

.checkbox_container input{
  display: inline;
}

span .checkbox {
  display: inline-block;
}

.task-delete {
  .fa-times {
    color: $grayLight;
  }
}

