@import "variables";

#dashboard-page{
  background: $white;
  .missed{
    color: red;
  } 

}

#calendar{
  width: 80%;
  display: block;
  margin-left: 100px;
  margin-right: auto;
  margin-top: 50px;
  
}
.fc-title{
  white-space: normal;
}

.calendar-missed{
  background-color: red;
}
.calendar-done{
  background-color: #177217; 
}

#dashboard-dropdown.dropdown{
  margin-top: 30px;
  margin-bottom: 30px;
}

#updates{

  table {
      width: 100% ;
      font-size: $baseFontSize - 1;
      text-align: center;
      margin-top: 10px;
      margin-left: 10px;

      thead {
          padding-top: 0px;
          padding-bottom: 4px;

      }
      
      td {
          padding-top: 5px;
          
          max-width: 80px;
          padding-bottom: 5px;
      }

    }
}
