// Place all the styles related to the item_units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

#item-units-page{
  background: $white;
}

#unit-title{
  padding-bottom: 40px;
  font-size: $baseFontSize + 10;
.fa-times {
  color: $grayLight;
}

}

#unit-tasks{
  margin-top: 20px;
}

a#new-task-link{
  
  margin-left: 20px;
  
}
#location-display{
  margin-bottom: 20px;
}

a#site-display{
 
    
   
  font-size: $baseFontSize + 10;
  color: $grayLighter;
  span{
    color: $grayLighter;
  }
}
