// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
#settings-page {
  background: $white;
}
#sites {
  font-size: $baseFontSize + 6px;
  margin-top: 100px;
  .well{
    margin-bottom: 20px;
    vertical-align: middle;
  }

  
}
div#site-form.well{
  margin-top: 50px;
  margin-bottom: 100px;
  background: $white;

}

#site {
  background-color: $white;
}

#remindee-form-link {
   font-size: $baseFontSize;
   padding-top: 20px;
}

.remindees {
   font-size: $baseFontSize + 2px;
   padding: 20px;
   
   table{
    width: 100%;
    text-align: center;
   }
}

#remindee-select{
  select{
    width: 325px;
  }
}
#site-form {
    
    input {
      width: 325px;
    }
    select {
        width: 325px; 
    }

}
