// Place all the styles related to the reminder_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

#histories-page{
  background: $white;
  .reminder-present{
    border: 1px solid #217A22;
  }
  .missed{
    color: red;
  } 
  .acknowledge {
  color: green;
  }


}

#history-display {
  

    table {
        margin-top: 0px;
        width: 100%;
        
        font-size: $baseFontSize - 1;
        text-align: center;

        th {
            padding-top: 0px;
            padding-bottom: 2px;

        }
        
        td {
            padding-top: 0px;
            
            max-width: 140px;
            padding-bottom: 5px;


    }

    

    #notify{
        margin-bottom: 15px;
    }    
}

  }


