// Place all the styles related to the reminders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

#reminders-page {
  background: $white;
  .ui-state-active{
    background: $activeAccordion;
    }

    
    table.reminder-display {
        margin-top: 0px;
        width: 100%;
        
        font-size: $baseFontSize - 1;

        th {
            padding-top: 0px;
            padding-bottom: 2px;

        }
        
        td {
            padding-top: 0px;
            
            max-width: 140px;
            padding-bottom: 5px;


        }
        #notify{
            margin-bottom: 15px;
        }    
        
    }
}
.accordion {
  cursor: pointer;
}


.reminder-links {
   
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: $baseFontSize - 1;
     #reminder-complete, #edit-reminder-link a {
        color: $linkColor;
    }
    a#reminder-active{
        color: green;
    }
    a#reminder-inactive{
        color: red;
    }



}

#task-description{
    padding-top: 15px;
}


div#reminder-display {
    margin-left: 0px;
    border-bottom: 1px solid; 
    border-color: $grayLighter;
}

.modal-body#reminder_form {
    height: 300px;
    //text-align: center;

    .form-group {
        padding-left: 120px;
    }
}

.reminder-state{
    .de-activate a {
        padding-left: 25px;
    }

}

.reminder{
    .div{
        display: inline-block;
    }
    
    margin-top: 0px;
   
}



.reminder-form {
    
    select {
        width: 325px; 
        
    }
}

.datepicker   {
    width: 70%;
    //display: inline-block;
    margin-bottom: 10px;
    height: 25px;
    margin-left: 0px;
    border-radius: 4px;
    border-color: $gray;
  
}

#new_reminder .btn .btn-default{
      padding-top: 20px;
}

#notification-to {
    display: block;
    text-align: left !important;
    padding-right: 35px;
    
}

.due-date-label {
    text-align: left !important;
    display: block;
}



.reminder_remindee_ids span {
    padding-right: 15px;

    input {
        vertical-align: text-top;
    }
    .reminder-checkbox-label {
        vertical-align: middle;   
        padding-left: 3px;
    }

}