$beige: #F3F6F2;
$communityBlue: #12588E;
$specialGreen: #6DB935;
$specialGreenDark: #70A83B;
$orange: #EB8D23;
$orangeDark: #DB7E16;
$gray: #4d4d4d;
$white: #FFFFFF;
$grayLighter: lighten($gray, 30%);
$black: #000000;
$grayLight: lighten($grayLighter, 20%);
$bodyBackground: lighten($gray, 65%);
$graySoft: lighten($bodyBackground, 30%);
$orangeSoft: lighten($orange, 40%);
$error: #FF4500;
$reminderSeparator: lighten($gray, 50%);
$activeAccordion: #FFDBB5;
$alert-notice: #7BD15C;

$navbarHeight: 55px;
$navbarBackground: white;
$navbarBackgroundHighlight: white;
$navbarInverseText: black;
$navbarLinkColor: #174A78;
$navbarLinkColorHover: darken($navbarLinkColor, 15%);
$navbarInverseLinkColorActive: lighten($navbarLinkColor, 20%);
$dropdownLinkBackgroundHover: $specialGreen;
$dropdownLinkBackgroundActive: $specialGreen;
$navbarInverseBackgroundHighlight: black;

$linkColor: #3232ff; //#174A78;
//$linkColorHover: darken($linkColor, 15%);
$linkColorHover: darken($bodyBackground, 5%);
//font-family: 'Source Sans Pro', sans-serif;

$pillColor: darken($bodyBackground, 5%);
$pillColorHover: darken($pillColor, 5%);



$sansFontFamily:        'Source Sans Pro', sans-serif, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serifFontFamily:       'Source Sans Pro', sans-serif, Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        'Source Sans Pro', sans-serif, "Trebuchet MS", Menlo, Monaco, Consolas, "Courier New", monospace !default;

$baseFontSize:          14px !default;