@import "variables";
@import "pages";
@import "item_units";
@import "sites/items";
@import "custom_tasks";
@import "reminders";
@import "reminder_histories";
@import "dashboard";




body { 
  background: $bodyBackground;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.navbar{
  margin-bottom: 0px;
}

section.site_title#splash {
  background-color: $white;
  margin-top: 50px;
}
div.well#sign-up{
  margin-top: 50px;
  background-color: $white;
  .btn {
    margin-left: 80%;
  }
  label[for="user_remember_me"]{
    margin-left: 17%;
  }
}

div.well#edit-user {
  margin-top: 50px;
  background-color: $white;
}
#main-nav {
  text-align: center;
  width: 90%;
  padding-left: 25%;
  .active {
    background-color: $pillColor;
  }
  //> li {
  //  display: inline-block;
   // float: none;
  //}
  
}

div.items-nav {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-color: $orangeSoft;
  border-bottom-width: 2px;
  
  
  
  a{
  color: $linkColor;
  background-color: none;
  }    
    
}  

.alert-notice{
  background-color: $alert-notice;
  color: $white;
}


#reminders{
  margin-top: 0px;
  .well{
    background-color: $graySoft;
  }
  h4{
    
      color: blue; //$specialGreen; 
      //font-family: 'Oleo Script', cursive; 
      font-size: $baseFontSize +12;
      font-weight: 300;
    
  }

  li{
    font-size: $baseFontSize;
  }

  li:hover{
    background-color: $linkColorHover;
  }

  .list-group-item{
    border: none;
  }
  
  
  

    
}


.item{
  margin-right: 20px;
  margin-bottom: 10px;
  .active{      
        background-color: $pillColor;
        padding: 10px;
  }
 
  

}

.errors{ 

  li{
    color: $error;
    font-size: $baseFontSize + 2px;
  }
}



.location{
    margin-bottom: 20px;
    font-color: blue;
  }



