-item.item_units.where(site_id: $current_site.id).each do |iu|
  =div_for(iu) do
    .well
      .col-md#unit-title
        .col-md-6.col-xs-6.text-left
          =iu.name
      .col-md.ul.accordion.list-group{id: "unit-#{iu.id}-tasks"}
        -iu.item.reload
        -iu.tasks.each do |task|
          %li.list-group-item
            - iut = get_item_unit_task iu.id, task.id 
            - flag = iut.reminder.nil?     
            %h4{:class=> (flag ? "" : "reminder-present") }
              =get_task_object(task).title.capitalize
              -if iut.reminder && iut.reminder.is_active?
                %span{:style=>"float:right", :id=>"due-on-accordion-#{iut.reminder.id}"}
                  ="Next due: #{iut.reminder.due_date.in_time_zone(iut.reminder.site.time_zone).strftime("%a, %-d %b")}"     
            -if iut.reminder      
              .history{id: "history-unit-task-#{iut.id}"}
                #history-display.table-responsive
                  %table.table.table-fixed.table-condensed.history-display
                    %thead
                      %tr
                        %th{:class => "col-md-3 text-center"}= "Due"
                        %th{:class => "col-md-3 text-center"}= "Completed"
                        %th{:class => "col-md-3 text-center"}= "Notified"
                    %tbody
                      -iut.reminder.reminder_histories.order('created_at DESC').each do |h|
                        %tr{:class=> ("missed" if h.state == 3)}
                          %td= h.due_date.in_time_zone(h.reminder.site.time_zone).strftime("%d %b")
                          %td= h.completion_date.in_time_zone(h.reminder.site.time_zone).strftime("%d %b") if h.completion_date
                          %td 
                            -h.remindees.each do |r|
                              %span{class: ("acknowledge" if (h.completed_by && h.completed_by.id == r.id))}= r.name
                         
