-items.each do |item|
  %li
    =div_for(item) do
      =link_to get_item_object(item).name.titleize , histories_path(site_id: $current_site.id, item_id: item.id), class: make_history_item_nav_active(item)  #make first system item active on histories page load
        