.dropdown.pull-right
  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button", :id=>"site-display"}
    = $current_site.name.titleize
    %span.caret
  %ul.dropdown-menu{:role => "menu"}
    - current_user.sites.each do |site|
      %li
        -item = site.items.where(itemable_type: "SystemItem").first
        =link_to site.name.titleize, histories_path(site_id: site.id, item_id: item.id)