#histories-page.container
  .ul.nav.nav-pills.items-nav.col-md-8.col-md-offset-2#items-nav
    =render 'items_nav', items: @items
  .col-md-8.col-md-offset-2#location-display
    .location
      -if current_user.sites.count ==1
        .text-right#site-display
          = $current_site.name.titleize
      -else 
        =render 'sites_dropdown'
  .col-md-8.col-md-offset-2#item-units
    =render 'all_item_units', item: @item