=div_for(site) do
  .well.col-md.col-xs.site
    #site-name
      =link_to site.name.titleize, site_items_path(site_id: site.id)
      = link_to site, class: 'site-delete pull-right', method: :delete, remote: true do
        %i.fa.fa-times  
    = render 'remindees/remindees', site: site
    #remindee-form-link
      = link_to  "Add Recipient", new_remindee_path(site_id: site.id), remote: true  



#remindee_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  