$("ul.errors").html("")
<% if @site.errors.any? %> 
  <% @site.errors.full_messages.each do |msg| %>
        $("ul.errors").append($("<li />").html("<%= msg.html_safe %>"))
  <% end %>
<% else %>
  $('#sites').append("<%= j render 'sites/my_sites', site: @site  %>");
   $("#new_site_modal").modal("hide")  
<% end %>    