= simple_form_for(@site, remote: true,  html: { class: 'form-horizontal' }) do |f|
  %ul.errors
  .modal-body#site-form
    = f.input :name, autofocus: true, wrapper: :horizontal_form, label: "Location Name"
    = f.association :business_type, wrapper: :horizontal_form
    = f.input :time_zone, collection: ActiveSupport::TimeZone::MAPPING.keys, :selected => ActiveSupport::TimeZone::MAPPING.key(Time.zone.name),
     priority: /US/, label: "Time Zone",  include_blank: false,  :input_html => {:id=> "time-zone-select"}, wrapper: :horizontal_form
  .modal-footer
    = f.button :submit, value: "Add Location", class:" btn btn-primary pull-right" 