.dropdown.pull-right
  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button", :id=>"site-display"}
    = $current_site.name.titleize
    %span.caret
  %ul.dropdown-menu{:role => "menu"}
    - current_user.sites.each do |site|
      %li
        =link_to site.name.titleize, site_items_path(site.id)