%nav.navbar.navbar-default
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#maintr-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} Brand
    / Collect the nav links, forms, and other content for toggling
    #maintr-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right#main-nav
        -if logged_in? && !current_user.sites.blank?  
          %li
            = link_to "Dashboard", dashboard_path, class: (is_active? dashboard_path ), data: { no_turbolink: true}  
          %li
            =link_to "History", histories_path(site_id: $current_site.id, item_id: get_system_items($current_site, "SystemItem").first) , class:(make_nav_active(histories_path(item_id: get_system_items($current_site, "SystemItem").first)))
          %li
            =link_to "Set Reminders", site_items_path(site_id: current_user.sites.first.id) , class:(make_nav_active(site_items_path(site_id: current_user.sites.first.id)))
          
        %ul.nav.navbar-nav.navbar-right
          -if current_user
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                =current_user.username
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  =link_to "Add category", '#new_custom_item_modal', 'data-toggle' => 'modal' 
                %li
                  =link_to "Reminder Settings", settings_path
                %li
                  =link_to "My Profile", edit_user_registration_path
                %li.divider
                %li
                  =link_to "Sign Out", destroy_user_session_path
          -else
            %li
              =link_to "Sign In", new_user_session_path     
                    
    //.navbar-collapse
  //.container
