!!!
%html
  = render :partial => '/layouts/head'
  %body
    = render '/layouts/navigation'
    #main{:role => "main"}
      = yield(:splash)
      .container
        .content
          .row
            .col-md-12
              =# yield :banner
              = render '/layouts/messages'
              = yield
    = render :partial => '/layouts/footer'